---
import Layout from '../layouts/Layout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import ProjectsLayout from '../layouts/ProjectsLayout.astro';

//Portfolio content
const portfolio = [
	{ 
		title: "Studiz",
		imgSrc: "https://images.pexels.com/photos/16118368/pexels-photo-16118368/free-photo-of-jasny-ludzie-festiwal-muzyka.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load",
		imgAlt: "Portfolio - Studiz mobile app preview",
		category: "design",
	},
	{ 
		title: "RawShare",
		imgSrc: "https://images.pexels.com/photos/16118368/pexels-photo-16118368/free-photo-of-jasny-ludzie-festiwal-muzyka.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load",
		imgAlt: "Portfolio - Studiz mobile app preview",
		category: "design",
	},
	{ 
		title: "Slepfi",
		imgSrc: "https://images.pexels.com/photos/16118368/pexels-photo-16118368/free-photo-of-jasny-ludzie-festiwal-muzyka.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load",
		imgAlt: "Portfolio - Studiz mobile app preview",
		category: "design",
	},
	{ 
		title: "Arla",
		imgSrc: "https://images.pexels.com/photos/16118368/pexels-photo-16118368/free-photo-of-jasny-ludzie-festiwal-muzyka.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load",
		imgAlt: "Portfolio - Studiz mobile app preview",
		category: "code",
	},
];
---

<Layout title="Portfolio | Wojciech Dzwonczyk." description="Discover a collection of my latest projects as a UX/UI Designer and Front-end Developer. Explore the creative solutions, user-centered designs, and seamless front-end implementations that I have crafted to solve diverse challenges.">
	<main>
		<ProjectsLayout>
			<h1 class="text-3xl md:text-4xl font-bold">Portfolio</h1>
			<p class="text-lg text-gray-400">Explore my creative work and see my projects in action.</p>
		</ProjectsLayout>
		<ContactCTA title="Interested in working together?"/>
	</main>
</Layout>
