---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---
<div class="flex flex-col justify-center items-center bg-gradient-to-r from-teal-400 via-blue-500 to-indigo-600 rounded-3xl text-white box-border px-4 py-8">
	<h2 class="h2 text-center md:text-left">{title}</h2>
	<div class="flex flex-col mt-4 gap-y-4 md:flex-row md:gap-x-4 md:gap-y-0 md:mt-8">
		<a href="tel:+4591718714" target="_blank" class="bg-white text-gray-900 hover:text-indigo-600 text-center px-4 py-3 rounded-2xl">Call me</a>
		<a href="mailto:wdzwonek97@gmail.com" target="_blank" class="bg-white text-gray-900 hover:text-indigo-600 text-center px-4 py-3 rounded-2xl">Write a message</a>
	</div>
	<div class="flex mt-6 gap-y-4 gap-x-4 md:gap-y-0 md:mt-8">
		<a href="https://www.linkedin.com/in/wojciech-dzwonczyk" target="_blank" aria-label="Link to Linkedin profile" class="border-[1.5px] border-white group px-1 py-1 rounded-full w-9 h-9 p-1 flex justify-center items-center hover:bg-white">
			<i class="iconoir-linkedin text-[24px] text-white group-hover:text-indigo-600"></i>
		</a>
		<a href="https://www.instagram.com/wojo.dz/" target="_blank" aria-label="Link to Instagram profile" class="border-[1.5px] border-white group px-1 py-1 rounded-full w-9 h-9 p-1 flex justify-center items-center hover:bg-white">
			<i class="iconoir-instagram text-[24px] text-white group-hover:text-indigo-600"></i>
		</a>
	</div>
</div>
