---
export interface Props {
	title: string;
	subTitle: string;
}

const { title, subTitle } = Astro.props;
---

<div id="imageContainer" class="h-screen flex justify-center items-center flex-col md:flex-row gap-8 w-[95%] mx-auto">
	<h1 class="mb-4 sm:mb-0 sm:mt-4 text-center md:text-left md:w-[40%]">
		<p class="text-3xl md:text-6xl font-bold leading-relaxed">{title}</p>
		<p class="text-xl text-gray-400 font-sans mt-2">{subTitle}</p>
	</h1>
	<img 
		src="../portfolio/assets/avatar.png" 
		class="w-[80%] max-w-[300px] sm:w-[60%] md:max-w-[400px] order-1 md:order-2" 
		alt="Wojciech Dzwonczyk - profile image"
	/>
	<div class="flex md:flex-col gap-x-2 md:gap-x-0 gap-y-2 absolute bottom-4 right-16">
		<a href="https://www.linkedin.com/in/wojciech-dzwonczyk" target="_blank" aria-label="Link to Linkedin profile" class="border-[1.5px] border-gray-900 hover:text-indigo-600 group px-1 py-1 rounded-full w-9 h-9 p-1 flex justify-center items-center">
			<i class="iconoir-linkedin text-[24px] text-gray-900 group-hover:text-indigo-600"></i>
		</a>
		<a href="https://www.instagram.com/wojo.dz/" target="_blank" aria-label="Link to Instagram profile" class="border-[1.5px] border-gray-900 hover:text-indigo-600 group px-1 py-1 rounded-full w-9 h-9 p-1 flex justify-center items-center">
			<i class="iconoir-instagram text-[24px] text-gray-900 group-hover:text-indigo-600"></i>
		</a>
	</div>
</div>
