---
---
<section class="py-8 md:py-16">
	<h2 class="h2 text-center">Get my CV</h2>
	<div class="flex justify-center items-center py-32">
		<a 
			href="../portfolio/assets/cv/Wojciech-Dzwonczyk-cv.pdf" download="Wojciech-Dzwonczyk-cv.pdf">
			<button class="w-20 h-20 bg-teal-400 rounded-full flex justify-center items-center relative" aria-label="Download my CV">
				<span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-teal-400 opacity-75 duration-[2000]"></span>
				<i class="iconoir-download text-[32px] text-white"></i>
			</button>
		</a>
	</div>
</section>
