---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro"
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="../portfolio/assets/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:title" content="Wojciech Dzwonczyk | UX/UI Designer and Front-end Developer" />
		<meta property="og:url" content="https://wdzwonczyk.github.io/portfolio/" />
		<meta property=”og:image” content="https://wdzwonczyk.github.io/portfolio/assets/avatar.png" />

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css">

		<title>{title}</title>
	</head>
	<body>
		<!-- <img class="absolute top-0 left-0 right-0 w-full" src="../assets/bg-main.png"/> -->
		<Nav/>
		<slot />
	</body class="text">
	<Footer/>
</html>
<style is:global>
	@font-face {
		font-family: 'GlacialIndifference-Bold';
		src: url('/portfolio/assets/fonts/GlacialIndifference-Bold.otf') format('otf');
		font-weight: bold;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #FFFFFF;
		background-image: url("../assets/bg-main.png");
		background-position: top;
		background-repeat: no-repeat;
		background-size: contain;
		scroll-behavior: smooth;
	}

	h1,h2,h3,h4,h5,h6{
		font-family: "GlacialIndifference-Bold", sans-serif;
	}

	h1{
		@apply text-[32px]
	}

	/* H2 class */
	.h2{
		@apply text-2xl md:text-3xl font-bold
	}

	.skill-heading{
		@apply text-lg font-glacialIndifference
	}

	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 100ch;
	}
	@media (max-width: 768px){
        html {
			background-image: url("../assets/bg-main-sm.png");
	}
    }
</style>
