---
import { getCollection } from 'astro:content';
import ProjectPreview from "../components/ProjectPreview.astro"

//Portfolio content
const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<section class="mb-16 mt-16 md:mt-[134px]">
	<slot />
	<div class="flex flex-wrap gap-6 mt-8 place-content-center">
		{
			projects.map((project) => (
				<ProjectPreview project={project} />
			))
		}
	</div>
</section>
	
